@import url('https://fonts.googleapis.com/css?family=Fondamento');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


body {
  margin: 0;
  padding: 0;
  font-family: 'Fondamento', monospace;
  text-align: center;
  font-size: 110%;
  color: #d3e510;
  background: #086800;
  overflow-wrap: break-word;
}

path, text {
  transition: fill .3s;
}

h1 {
  color: #e0eb6a;
}

label {
  font-size: 110%;
  letter-spacing: .05em;
  color: #e0eb6a;
}
