@import url('https://fonts.googleapis.com/css?family=Fondamento');

:root {
  --main-font-color: #bad262d0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fondamento', monospace;
  text-align: center;
  font-size: 110%;
  color: var(--main-font-color);
  background: #086800;
}

path, text {
  transition: fill .3s;
}

h1 {
  color: var(--main-font-color);
  max-height: 20vh;
  margin-bottom: 0;
  padding: 0;
}

svg, label, input {
  margin: 0;
  padding: 0;
}

label {
  max-height: 10vh;
  /* font-size: 100%; */
  letter-spacing: .05em;
  color: #E5FFAF;
}
